---
import minilogo from "../../assets/minilogo.svg";
import { Image } from "astro:assets";
import arrow from "../../assets/arrowUpRightWhite.svg";
---

<div class="px-10 pt-4 text-white w-full z-50 fixed">
  <div
    class="flex p-2.5 border bg-black/20 font-medium border-[#ffffff1f] backdrop-blur-[32px] rounded-[20px] items-center justify-between"
  >
    <div class="pl-2">
      <img class="h-[26px] cursor-pointer" src="/images/drakelogo.png" />
    </div>

    <div class="flex *:rounded-full *:cursor-pointer gap-2">
      <div class="flex hover:bg-white/10 gap-2 px-4 py-[10px]">
        <div
          class="size-6 border border-[#ffffff1f] flex items-center justify-center rounded-full bg-white/10"
        >
          <img class="size-4" src={minilogo.src} />
        </div>

        <div>$DRAKE Token</div>
      </div>

      <div class="px-4 hover:bg-white/10 py-[10px]">Nodes</div>

      <div class="flex hover:bg-white/10 px-4 items-center gap-2">
        <div class="py-[10px]">Build with DRAKE</div>

        <img class="size-5" src="/images/dropdown.svg" />
      </div>
    </div>

    <div>
      <button
        class="px-4 gap-1.5 group hover:opacity-80 flex justify-center items-center py-2.5 w-fit bg-gradient-to-l from-[#889CDF] to-[#515c8a] rounded-xl text-white"
        >AI Machines <img
          class="group-hover:rotate-45 stroke-2 size-4 transition"
          src={arrow.src}
        />
      </button>
    </div>
  </div>
</div>
