<div class="px-10 pt-4 text-white w-full z-50 fixed">
  <div
    class="flex p-2.5 border border-[#ffffff1f] backdrop-blur-[32px] rounded-[20px] items-center justify-between"
  >
    <div>
      <img class="w-28 h-8 cursor-pointer" src="/images/drakelogo.png" />
    </div>

    <div class="flex *:rounded-full *:cursor-pointer gap-2">
      <div class="flex hover:bg-white/10 gap-2 px-4 py-[10px]">
        <img class="size-6" src="/images/smalldrakelogo.png" />

        <div>$DRAKE Token</div>
      </div>

      <div class="px-4 hover:bg-white/10 py-[10px]">Nodes</div>

      <div class="flex hover:bg-white/10 px-4 items-center gap-2">
        <div class="py-[10px]">Build with DRAKE</div>

        <img class="size-5" src="/images/dropdown.svg" />
      </div>
    </div>

    <div>
      <button
        class="px-4 gap-1 group hover:opacity-80 flex py-2.5 w-fit bg-gradient-to-l from-[#889CDF] to-[#303753] rounded-xl text-white"
        >AI Machines <img
          class="group-hover:rotate-45 transition"
          src="/images/arrowUpRightWhite.svg"
        />
      </button>
    </div>
  </div>
</div>
