<div class="h-[200vh] relative">
    <img class="w-full h-full absolute -z-10" src="/images/bg.png" >
    <div class="px-10 pt-32 flex items-center gap-[100px]">
       <div class="flex flex-col gap-10">
            <div class="flex flex-col gap-6">
                <h1 class="text-5xl font-black">CONTENT IS 91% OF <br>
                    GLOBAL INTERNET TRAFFIC.
                    LIFT MAKES IT ACTIONABLE
                </h1>
    
                <p class="text-xl font-light">We enable businesses to extract insights and take action at the same <br> speed and scale that content is created and consumed. Our AI Agents <br> reduce the cost of real-time data extraction by up to 90%, while <br> collecting 10x the number of inferences.</p>
            </div>
    
            <button class="px-4 py-4 w-fit bg-black rounded-xl text-white">Start Building with drake</button>
       </div>

        <img src="/images/aboutusimg.svg">
    </div>
</div>