---
const { desc, img } = Astro.props;
---

<!-- [border-image:linear-gradient(to_bottom_left,#889CDF,#303753)_30] -->
<div
  style={{ opacity: 0 }}
  data-box
  class="bg-gradient-to-bl p-[2px] z-10 rounded-[18px] from-[#889CDF] to-[#303753]"
>
  <div
    class="z-20 h-full bg-gradient-to-bl backdrop-blur-sm from-[#282E43] to-[#10121B] rounded-2xl flex flex-col p-8 gap-8 items-center"
  >
    <img class="h-[100px]" src={img} />
    <div class="text-xl font-light text-center">{desc}</div>
  </div>
</div>
