---
import Box from "./Box.astro";
---

<div class="grid grid-cols-3 bg-[#000] text-white py-20 gap-6 px-10">
  <Box
    desc="Extract data from the content the world is watching and playing at massive scale using proprietary AI models."
    img="/images/boximage1.svg"
  />
  <Box
    desc="Trigger actions in your apps and experiences based on real time events detected in content."
    img="/images/boximage2.svg"
  />
  <Box
    desc="Replace legacy programmatic analytics with AI Agents trained by non-technical users."
    img="/images/boximage3.svg"
  />
</div>
