---
import Card from "./Card.astro";
import type { EmblaOptionsType } from "embla-carousel";

import InteractiveCarousel from "./tsx/InteractiveCarousel";
---

<div
  class="text-white pt-20 px-10 flex flex-col gap-12 bg-gradient-to-b from-[#000] to-[#000] h-screen"
>
  <h1
    class="uppercase font-black tracking-[-0.01em] text-[56px] text-center italic"
  >
    how builders are using drake
  </h1>

  <InteractiveCarousel client:load />

  <!-- <EmblaCarousel client:load options={OPTIONS}>
    <Card
      img="/images/card1.svg"
      desc="A social platform integrating real-time community rewards over Twitch & YouTube."
    />
    <Card
      img="/images/card2.svg"
      desc="A creator agency analyzing 250 hours of content every day on behalf of leading brands."
    />
    <Card
      img="/images/card1.svg"
      desc="A social platform integrating real-time community rewards over Twitch & YouTube."
    />
  </EmblaCarousel> -->
</div>
