---
import { Button } from "./ui/button";
import arrow from "../assets/arrowUpRight.svg";
---

<div
  data-hero
  class="lg:flex-row flex flex-col relative h-[85vh] z-10 bg-[#000] text-white items-center px-5 lg:px-10"
>
  <img class="absolute left-0 top-0" src="/images/herotestbg.svg" />

  <img
    class="absolute hue-rotate-[320deg] saturate-[50%] left-0 top-36 w-full"
    src="/images/herotestbg2.png"
  />

  <div
    data-img
    class="lg:hidden pt-20 z-10 flex h-fit justify-center items-center"
  >
    <img class="z-10" src="/images/herosquare.svg" />

    <img class="absolute opacity-80" src="/images/glowhero.png" />
  </div>

  <div data-text class="lg:w-1/2 flex flex-col gap-10">
    <div class="flex relative flex-col gap-6">
      <h1 class="lg:text-[56px] text-[32px] leading-[1.1] font-black italic">
        AI AGENTS FOR REAL-<br class="hidden lg:block" />TIME INTELLIGENCE
      </h1>

      <p class="lg:text-xl">
        DRAKE’S streaming analytics make sports, interactive video, social <br
          class="hidden lg:block"
        />
        content and games searchable and interoperable in real-time.
      </p>
    </div>

    <div class="z-10">
      <Button className="flex group items-center gap-2"
        >Documentation <img
          class="group-hover:rotate-45 stroke-2 size-4 transition"
          src={arrow.src}
        />
      </Button>
    </div>

    <!-- <button class="px-4 py-4 w-fit bg-black rounded-xl text-white"
      >Documentation</button
    > -->
  </div>
  <div
    data-img
    class="w-1/2 hidden pt-20 z-10 lg:flex h-fit justify-center items-center"
  >
    <img class="z-10" src="/images/herosquare.svg" />

    <img class="absolute opacity-80" src="/images/glowhero.png" />
  </div>
</div>
