---
import { Button } from "./ui/button";
---

<div data-hero class="flex h-[85vh] bg-[#49588F] text-white items-center px-10">
  <div data-text class="w-1/2 flex flex-col gap-10">
    <div class="flex flex-col gap-6">
      <h1 class="text-[56px] leading-[1.1] font-black italic">
        AI AGENTS FOR REAL-<br />TIME INTELLIGENCE
      </h1>
      <p class="text-xl">
        LIFT’S streaming analytics make sports, interactive video, social <br />
        content and games searchable and interoperable in real-time.
      </p>
    </div>

    <Button>Documentation</Button>

    <!-- <button class="px-4 py-4 w-fit bg-black rounded-xl text-white"
      >Documentation</button
    > -->
  </div>
  <div data-img class="w-1/2 pt-20 flex h-fit justify-center items-center">
    <img class="size-52" src="/images/heroimg-test.png" />
  </div>
</div>
