---
import { Button } from "./ui/button";
---

<div
  data-hero
  class="flex relative h-[85vh] z-10 bg-[#000] text-white items-center px-10"
>
  <img class="absolute left-0 top-0" src="/images/herotestbg.svg" />

  <img class="absolute left-0 top-36 w-full" src="/images/herotestbg2.png" />

  <div data-text class="w-1/2 flex flex-col gap-10">
    <div class="flex relative flex-col gap-6">
      <h1 class="text-[56px] leading-[1.1] font-black italic">
        AI AGENTS FOR REAL-<br />TIME INTELLIGENCE
      </h1>

      <p class="text-xl">
        DRAKE’S streaming analytics make sports, interactive video, social <br
        />
        content and games searchable and interoperable in real-time.
      </p>
    </div>

    <div class="z-10">
      <Button>Documentation</Button>
    </div>

    <!-- <button class="px-4 py-4 w-fit bg-black rounded-xl text-white"
      >Documentation</button
    > -->
  </div>
  <div data-img class="w-1/2 pt-20 z-10 flex h-fit justify-center items-center">
    <img class="size-52" src="/images/heroimg-test.png" />
  </div>
</div>
