<div class="text-white bg-[#222C53]">
  <div class="pt-20 pb-24 px-10">
    <h1 class="uppercase font-black text-center italic text-[56px]">
      how it works
    </h1>

    <div class="flex justify-center relative pt-[90px]">
      <img class="z-10" src="/images/howitworksimg1.svg" />

      <div
        class="absolute right-0 p-6 z-20 backdrop-blur-[10px] bg-[#ffffff1f] border-[#ffffff29] flex flex-col gap-2 border rounded"
      >
        <p class="uppercase text-sm text-[#fff6] font-medium tracking-[0.5px]">
          layer 01
        </p>

        <div class="felx flex-col gap-3">
          <h1 class="uppercase font-black text-[32px] italic">liftchain</h1>

          <p class="text-text-color">
            DRAKE’s low-cost modern zkEVM chain (LiftChain) is secure, <br /> blazingly
            fast and highly scalable, designed from the <br /> ground up to turn
            content into data at massive scale.
          </p>
        </div>
      </div>

      <!-- <img class="absolute bottom-0 w-full" src="/images/howitworksimg2.png" /> -->

      <div
        class="absolute -bottom-10 z-20 left-0 p-6 backdrop-blur-[10px] bg-[#ffffff1f] border-[#ffffff29] flex flex-col gap-2 border rounded"
      >
        <p class="uppercase text-sm text-[#fff6] font-medium tracking-[0.5px]">
          layer 02
        </p>

        <div class="felx flex-col gap-3">
          <h1 class="uppercase font-black text-[32px] italic">datagrid</h1>

          <p class="text-text-color">
            DRAKE stores data across an incentivized edge network of <br />
            decentralized nodes (DataGrid), secured by a novel dual <br /> restaking
            mechanism using the $DRAKE token.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
