<div class="text-white bg-[#222C53]">
  <div>
    <div class="flex justify-center relative pt-[90px]">
      <img class="max-w-[767px]" src="/images/howitworksimg3.png" />

      <div
        class="absolute top-2/4 -translate-y-1/4 right-0 p-6 z-10 backdrop-blur-[10px] bg-[#ffffff1f] border-[#ffffff29] flex flex-col gap-2 border rounded"
      >
        <p class="uppercase text-sm text-[#fff6] font-medium tracking-[0.5px]">
          layer 03
        </p>

        <div class="felx flex-col gap-3">
          <h1 class="uppercase font-black text-[32px] italic">powered by zk</h1>

          <p class="text-text-color">
            Transformed content is verified by LIFT’s decentralized AI <br /> compute
            layer powered by trustless and transparent ZK <br /> machine learning
            models.
          </p>
        </div>
      </div>
    </div>

    <div class="flex justify-center relative">
      <img src="/images/howitworksimg4.svg" />

      <div
        class="absolute top-1/2 -translate-y-1/2 left-10 p-6 z-10 backdrop-blur-[10px] bg-[#ffffff1f] border-[#ffffff29] flex flex-col gap-2 border rounded"
      >
        <p class="uppercase text-sm text-[#fff6] font-medium tracking-[0.5px]">
          layer 04
        </p>

        <div class="felx flex-col gap-3">
          <h1 class="uppercase font-black text-[32px] italic">drake oracles</h1>

          <p class="text-text-color">
            Cross-chain Oracles are created by builders to interact <br /> with the
            content the world is watching, and power smart <br /> contracts to enable
            rich web3 experiences.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
