<div
  class="text-white overflow-hidden relative bg-gradient-to-b from-[#222C53] to-black"
>
  <img
    class="absolute hidden lg:block top-[650px] mix-blend-color-dodge"
    src="/images/howitworksimg2.png"
  />

  <div class="pt-20 pb-24 lg:px-10 px-5">
    <h1
      class="uppercase font-BoldItalic font-black text-center italic lg:text-[56px] text-[32px]"
    >
      how it works
    </h1>

    <div
      class="lg:flex-row flex flex-col gap-[29px] justify-center relative lg:pt-[90px] pt-10"
    >
      <img
        class="z-10 h-[290px] lg:h-auto hue-rotate-[320deg]"
        src="/images/howitworksimg1.svg"
      />

      <div
        style={{ opacity: 0 }}
        data-layer01
        class="lg:absolute right-0 p-6 z-20 backdrop-blur-[10px] bg-[#7ba1ff]/20 border-[#ffffff29] flex flex-col gap-2 border rounded"
      >
        <p class="uppercase text-sm text-[#fff6] font-medium tracking-[0.5px]">
          layer 01
        </p>

        <div class="felx flex-col gap-3">
          <h1 class="uppercase font-black text-[32px] font-BoldItalic italic">
            liftchain
          </h1>

          <p class="text-text-color">
            DRAKE’s low-cost modern zkEVM chain (LiftChain) is secure, <br
              class="hidden lg:block"
            /> blazingly fast and highly scalable, designed from the <br
              class="hidden lg:block"
            /> ground up to turn content into data at massive scale.
          </p>
        </div>
      </div>

      <img
        class="lg:hidden top-[650px] mix-blend-color-dodge"
        src="/images/howitworksimg2.png"
      />

      <!-- <img class="absolute bottom-0 w-full" src="/images/howitworksimg2.png" /> -->

      <div
        style={{ opacity: 0 }}
        data-layer02
        class="lg:absolute -bottom-10 z-20 left-0 p-6 backdrop-blur-[10px] bg-[#7ba1ff]/20 border-[#ffffff29] flex flex-col gap-2 border rounded"
      >
        <p class="uppercase text-sm text-[#fff6] font-medium tracking-[0.5px]">
          layer 02
        </p>

        <div class="felx flex-col gap-3">
          <h1 class="uppercase font-black text-[32px] font-BoldItalic italic">
            datagrid
          </h1>

          <p class="text-text-color">
            DRAKE stores data across an incentivized edge network of <br
              class="hidden lg:block"
            />
            decentralized nodes (DataGrid), secured by a novel dual <br
              class="hidden lg:block"
            /> restaking mechanism using the $DRAKE token.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="text-white lg:pb-20 pb-12 px-5 lg:px-0">
    <div class="flex-col flex gap-[70px]">
      <div
        class="lg:flex-row flex flex-col gap-10 justify-center relative lg:pt-[90px]"
      >
        <img
          class="max-w-[767px] hue-rotate-[335deg] saturate-[60%]"
          src="/images/howitworksimg3.png"
        />

        <div
          style={{ opacity: 0 }}
          data-layer03
          class="lg:absolute top-[43%] right-0 p-6 z-10 backdrop-blur-[10px] bg-[#7ba1ff]/20 border-[#ffffff29] flex flex-col gap-2 border rounded"
        >
          <p
            class="uppercase text-sm text-[#fff6] font-medium tracking-[0.5px]"
          >
            layer 03
          </p>

          <div class="felx flex-col gap-3">
            <h1 class="uppercase font-BoldItalic font-black text-[32px] italic">
              powered by zk
            </h1>

            <p class="text-text-color">
              Transformed content is verified by DRAKE’s decentralized AI <br
                class="hidden lg:block"
              />
              compute layer powered by trustless and transparent ZK <br
                class="hidden lg:block"
              /> machine learning models.
            </p>
          </div>
        </div>
      </div>

      <div class="lg:flex-row flex flex-col gap-10 justify-center relative">
        <img
          class="hue-rotate-[335deg] saturate-[60%]"
          src="/images/howitworksimg4.svg"
        />

        <div
          style={{ opacity: 0 }}
          data-layer04
          class="lg:absolute top-1/3 left-10 p-6 z-10 backdrop-blur-[10px] bg-[#7ba1ff]/20 border-[#ffffff29] flex flex-col gap-2 border rounded"
        >
          <p
            class="uppercase text-sm text-[#fff6] font-medium tracking-[0.5px]"
          >
            layer 04
          </p>

          <div class="felx flex-col gap-3">
            <h1 class="uppercase font-BoldItalic font-black text-[32px] italic">
              drake oracles
            </h1>

            <p class="text-text-color">
              Cross-chain Oracles are created by builders to interact <br
                class="hidden lg:block"
              /> with the content the world is watching, and power smart <br
                class="hidden lg:block"
              /> contracts to enable rich web3 experiences.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  import { animate, inView } from "motion";

  inView("[data-layer01]", (element) => {
    animate(
      element,
      { opacity: [0, 1], x: [100, 0] },
      { duration: 1, type: "spring", bounce: 0.1 },
    );
  });

  inView("[data-layer02]", (element) => {
    animate(
      element,
      { opacity: [0, 1], x: [-100, 0] },
      { duration: 1, type: "spring", bounce: 0.1 },
    );
  });

  inView("[data-layer03]", (element) => {
    animate(
      element,
      { opacity: [0, 1], x: [100, 0] },
      { duration: 1, type: "spring", bounce: 0.1 },
    );
  });

  inView("[data-layer04]", (element) => {
    animate(
      element,
      { opacity: [0, 1], x: [-100, 0] },
      { duration: 1, type: "spring", bounce: 0.1 },
    );
  });
</script>
