---
import InfiniteLogos from './InfiniteLogos'
import InvertedInfiniteLogos from './InvertedInfiniteLogos'
---

<div data-partners class="px-10 pt-20 flex flex-col gap-[30px]">
    <div class="flex flex-col gap-6 justify-center items-center">
        <div class="bg-zinc-100 rounded-full">
            <img class="size-20" src="/images/hands-partners.png" >
        </div>

        <h1 class="font-black text-[56px] italic">BUILDING WITH THE BEST</h1>

        <div class="text-xl font-light">LIFT is building the first cross-chain platform for scalable AI Vision.</div>
    </div>

    <!-- <div
    class="pointer-events-none absolute -left-4 z-10 hidden h-32 w-60 backdrop-blur-[2px] mask-gradient-to-l lg:block"
  >
  </div>
  <div
    class="pointer-events-none absolute -right-4 z-10 hidden h-32 w-60 backdrop-blur-[2px] mask-gradient-to-r lg:block"
  >
  </div>
  <div
    class="pointer-events-none absolute -left-4 z-10 hidden h-32 w-40 bg-gradient-to-l from-transparent via-main-bg/85 to-main-bg lg:block"
  >
  </div>
  <div
    class="pointer-events-none absolute -right-4 z-10 hidden h-32 w-40 bg-gradient-to-r from-transparent via-main-bg/85 to-main-bg lg:block"
  >
  </div> -->

    <div class="flex flex-col  items-center gap-[30px]">
        <InfiniteLogos client:load></InfiniteLogos>
        <InvertedInfiniteLogos client:load></InvertedInfiniteLogos>
    </div>
</div>