---
const { img, name, position } = Astro.props;
---

<div class="flex flex-col gap-5">
  <div class="flex justify-center">
    <img class="size-[180px]" src={img} />
  </div>

  <div class="flex flex-col gap-[18px] items-center">
    <div class="flex flex-col gap-3 justify-center items-center">
      <h1 class="text-[32px] font-black italic">{name}</h1>

      <div class="bg-white/10">
        <p class="p-2">{position}</p>
      </div>
    </div>

    <div>
      <img src="/images/xlogo.svg" />
    </div>
  </div>
</div>
