---
import TeamCard from "./TeamCard.astro";
---

<div
  class="lg:px-10 px-5 py-20 text-white bg-gradient-to-b from-black to-[#222C53]"
>
  <div class="flex flex-col gap-16">
    <div class="flex flex-col gap-4 items-center">
      <img class="size-20" src="/images/teamimg.png" />

      <h1 class="font-black lg:text-[56px] text-[32px] italic">
        MEET THE TEAM
      </h1>
    </div>

    <div>
      <div class="flex justify-between">
        <img src="/images/teamedge.svg" />

        <img src="/images/teamedge2.svg" />
      </div>

      <div
        class="grid lg:flex-wrap lg:*:w-[30%] lg:justify-center lg:flex grid-cols-2 gap-[50px]"
      >
        <div class="">
          <TeamCard img="/images/teamimg1.png" name="Ivan" position="Founder" />
        </div>

        <div class="">
          <TeamCard
            img="/images/teamimg2.png"
            name="Charlie"
            position="Strategy Lead"
          />
        </div>

        <div class="">
          <TeamCard
            img="/images/teamimg3.png"
            name="Jyro"
            position="Gaming Lead"
          />
        </div>

        <div class="">
          <TeamCard
            img="/images/teamimg4.png"
            name="Simon"
            position="Technical Lead"
          />
        </div>

        <div class="">
          <TeamCard
            img="/images/teamimg5.png"
            name="Franklin"
            position="Partnership Lead"
          />
        </div>

        <div class="">
          <TeamCard
            img="/images/teamimg6.png"
            name="Reza"
            position="ZK Researcher"
          />
        </div>

        <div class="">
          <TeamCard
            img="/images/teamimg7.png"
            name="Kate"
            position="Marketing Lead"
          />
        </div>

        <div class="">
          <TeamCard
            img="/images/teamimg8.png"
            name="Theo"
            position="Growth Lead"
          />
        </div>
      </div>

      <div class="flex justify-between">
        <img src="/images/teamedge3.svg" />

        <img src="/images/teamedge4.svg" />
      </div>
    </div>
  </div>
</div>
