<div class="px-10">
  <div class="bg-[#829dfe] relative rounded-[40px]">
    <img class="absolute left-0 top-1/2" src="/images/videobg.svg" />

    <div class="px-8 py-20 flex items-center justify-center gap-10 flex-col">
      <div class="flex gap-6 flex-col">
        <h1
          class="uppercase tracking-tight font-black text-[56px] italic text-center"
        >
          turn content into data. in real-time.
        </h1>

        <p class="text-center text-xl font-light">
          DRAKE’s powerful AI Agents extract data from real-time content like
          sports, gaming, <br /> social and streaming, enabling mainstream adoption
          of AI Vision at massive scale.
        </p>
      </div>

      <div
        class="overflow-hidden hidden lg:block z-10 w-[900px] h-[500px] rounded-2xl"
      >
        <video
          controls
          src="/video.mp4"
          autoplay
          loop=""
          muted=""
          playsinline=""></video>
      </div>
    </div>
  </div>
</div>
