<div class= "px-10">
    <div class="bg-[#e6ff67] rounded-[40px] h-screen">
        <div class="px-8 py-20 flex gap-6 flex-col">
            <h1 class="uppercase tracking-tight font-black text-[56px] italic text-center">turn content into data. in real-time.</h1>

            <p class="text-center text-xl font-light">LIFT’s powerful AI Agents extract data from real-time content like sports, gaming, <br> social and streaming, enabling mainstream adoption of AI Vision at massive scale.</p>
        </div>
        <div></div>
    </div>
</div>