<div class="lg:px-10">
  <div class="bg-[#829dfe] relative lg:rounded-[40px]">
    <img class="absolute left-0 top-2/3 lg:top-1/2" src="/images/videobg.svg" />

    <div
      class="lg:px-8 px-6 lg:py-20 py-8 flex items-center justify-center gap-10 flex-col"
    >
      <div class="flex gap-6 flex-col">
        <h1
          class="uppercase leading-[1.2] lg:leading-normal tracking-tight font-black text-[32px] lg:text-[56px] italic text-center"
        >
          turn content into data. in real-time.
        </h1>

        <p class="text-center lg:text-xl font-light">
          DRAKE’s powerful AI Agents extract data from real-time content like
          sports, gaming, <br class="hidden lg:block" /> social and streaming, enabling
          mainstream adoption of AI Vision at massive scale.
        </p>
      </div>

      <div
        class="lg:rounded-[32px] rounded-lg z-10 border-2 relative border-[#e1e1e1] backdrop-blur-[2px]"
      >
        <img
          class="absolute size-8 lg:size-20 -right-2 -top-2 lg:-right-8 lg:-top-8 rotate-[20deg]"
          src="/images/videoborderimg.png"
        />
        <div
          class="overflow-hidden lg:m-4 m-2 z-10 lg:w-[900px] lg:h-[500px] rounded-lg lg:rounded-2xl"
        >
          <video
            controls
            src="/video.mp4"
            autoplay
            loop=""
            muted=""
            playsinline=""></video>
        </div>
      </div>
    </div>
  </div>
</div>
